.wrapper {
    width: 93.75%;
    height: 100vh;
    background: url(images/Group\ 1.png);
    background-size: cover;
    margin-left: 6.25%;
}

.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    line-height: 30px;
    color: #000000;
    font-weight: 900;
    font-family: "Montserrat";
    margin: 30px 0 0 30px;
}

.navbar {
    width: 480px;
    margin: 30px 30px 0 0;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    display: flex;
    width: 100px;
    text-decoration: none;
    color: #000000;
    height: 41px;
    justify-content: center;
    align-items: center;
}

.navbar ul li a:hover {
    color: #fff;
    border-radius: 20px;
    background: black;
}

.explore {
    width: fit-content;
    margin: 700px auto;
    box-shadow: -4px 78px 52px -22px rgba(0,0,0,0.8);
}
.explore button {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #000000;
    color: #f0cdac;
    font-weight: 400;
    font-family: "Montserrat";
    text-transform: uppercase;
}

.sidebar {
    width: 6.25%;
    position: fixed;
    top: 50%;
    left: 0;
    height: 100vh;
}

.sidebar p {
    transform: rotate(-90deg);
    width: 500px;
    margin-top: 50px;
    margin-left: -200px;
    font-family: "Montserrat";
}